<%= link_to "New search for duplicates", child_find_duplicates_path(Child.first), class: "btn btn-success duplicates" %> 

<tr class=""></tr>
<% if matches.count >= 1 %> 
  <tr> 
    <th></th>
    <th>Percent Match</th> 
    <th>Name</th> 
    <th>Grade</th> 
    <th>Campus</th> 
    <th>Parent Email</th> 
    <th> </th> 
  </tr> 
      <%matches.each do |match| %> 
        <tr class= "<%= match.dismissed ? 'dismissed' : 'regular'%>"> 
        <% if match.dismissed %> 
         <td rowspan="2"> <%= link_to "Validate match", matches_invalidate_match_path(:id => match.id, :valid => true), class: "btn btn-success" %> </td> 
        <% else %> 
         <td rowspan="2"> <%= link_to "Invalidate match", matches_invalidate_match_path(:id => match.id), class: "btn btn-success" %> </td> 
        <% end %> 
        <td rowspan="2"> <%=match.amount%></td>
        <%= render partial: 'match_rows', locals: {child: match.child(1)}%> 
        </tr> 
        <tr class= "<%= match.dismissed ? 'dismissed' : 'regular'%>"> 
        <%= render partial: 'match_rows', locals: {child: match.child(2)}%> 
        </tr> 
      <% end %>
<% else %> 
  <div class= "text-center"> 
    <td> No duplicates found. </td>  
  </div> 
<% end %> 
</table>
<!-- 
This is the view the parent sees when editing their child's lunches.  -->