<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>


<table class = "table"> 
    <tr>
    <th><%= sortable "first_name", "first_name" %></th>
    <th><%= sortable "last_name", "last_name" %></th>
    <th><%= sortable "lunch_choices.count", "selections / available" %></th>
    <th><%= sortable "grade", "grade" %></th>
    <th><%= sortable "campus", "campus" %></th>
    <th><%= sortable "menu_id", "menu_id" %></th>
    
  </tr>
    <% children.each do |child| %> 
      <tr> 
      <td> <%= child.first_name%></td> 
      <td> <%= child.last_name%> </td> 
      <% if child.menu_id %> 
        <td> <%= "#{child.lunch_choices.count} / #{Menu.find(child.menu_id).lunch_date_list.count}"%></td> 
      <% else  %> 
        <td> PENDING </td> 
      <% end %> 
      <td> <%=child.grade %> </td> 
      <td> <%=child.campus %> </td> 
      <td> <%=child.menu_id %> </td>
      <td> <%if child.menu_id != nil%><%= link_to "Menu", user_child_menu_path(child.parent, child, child.menu_id), class:"btn btn-success btn-sm"%> <%end%></td>
      <td> <%= link_to "Edit", edit_user_child_path(child.parent, child), class:"btn btn-warning btn-sm"%></td>
      <td> <%= link_to "Remove", child_path(child), method: :delete, class:"btn btn-danger btn-sm"%></td>
      </tr> 
    <% end %>
</table>