<table class="table text-center">
  <tr class="text-center"> <h1> Children </h1> </tr>
  <tr> 
    <td><h3>Name</h3></td> 
    <td><h3>Grade </h3></td> 
    <td><h3>Email</h3></td> 
    <td><h3>Campus</h3></td> 
    <td><h3>Menu ID</h3></td> 
    <td><h3> </h3></td> 
  </tr> 
  <%@children.each do |child| %> 
    <tr> 
    <td> <%=child.name %> </td> 
    <td> <%=child.grade %> </td> 
    <td> <%=child.email %> </td> 
    <td> <%=child.campus %> </td> 
    <td> <%=child.menu_id %> </td>
    <td> <%if child.menu_id != nil%><%= link_to "Menu", user_child_menu_path(@user, child, child.menu_id), class:"btn btn-success"%> <%end%></td>
    <td> <%= link_to "Edit", edit_user_child_path(@user, child), class:"btn btn-warning"%></td>
    <td> <%= link_to "Remove", user_child_path(@user, child), method: :delete, class:"btn btn-danger"%></td>
    </tr> 
  <% end %>
</table>

<%= link_to "Add a child", new_user_child_path(@user), class:"btn btn-success"%>





<!-- #, data: { confirm: 'Are you sure?' } -->
