<div class="col-md-8">
 <%= form_for [@user, @user.children.new] do |f| %><!--   , remote: true -->
   <div class="form-group">
     <%= f.label :first_name %>
     <%= f.text_field :first_name, class: 'form-control', placeholder: "eg. \"Susan\"" %>
   </div>
   <div class="form-group">
     <%= f.label :last_name %>
     <%= f.text_field :last_name, class: 'form-control', placeholder: "eg. \"Appleseed\"" %>
   </div>
   <div class="form-group">
     <%= f.label :grade %>
     <%= f.select(:grade, Child::GRADES, {include_blank: false}, { :class => 'form-control' }) %>
   </div>
   <div class="form-group">
     <%= f.label :email %>
     <%= f.email_field :email, class: 'form-control', placeholder: "eg. \"2019sappleseed@dwight.edu\"" %>
   </div>
   <div class="form-group">
     <%= f.submit "Save", class: 'btn btn-success' %>
   </div>
 <% end %>
</div>

