<div class = "text-center title_row">
<h1 class="text-center title_row"> Child Accounts </h1> 
<% if @potential_dupes_exist %> 
  <%= link_to "Search for duplicate child accounts", children_path, class: "btn btn-danger" %> 
<% end %> 
</div>
<p id = "help"> Help? </p> 
<div class = "popup_text text-center">
  <p> Hints: </p> 
  <p> Child Properties can be any of the table headings below. </p>
  <p> Blank value searches will return all children </p>  
  <p> Use the User Search index to search faculty, staff, and parent accounts. </p> 
</div>

<%= form_tag child_search_path, :method => 'get', :id => "children_search" do %>
  <div class = "row title_row">
    <div class = "col-md-6"> 
      <p> Child Property </p> 
      <%= text_field_tag :search_term, params[:search_term], placeholder: "eg. \"last_name\"", class: 'form-control' %>
    </div>
      <div class = "col-md-6"> 
        <p> Value </p> 
      <%= text_field_tag :search, params[:search], placeholder: "eg. \"Smith\"", class: 'form-control' %>
    </div>
  </div>
  <div class = "row text-center title_row"> 
    <div class = "col-md-12"> 
      <%= submit_tag "Search", :search => nil, class: "btn btn-success"%>
    </div>
  </div>
  <% if @children %> 
    <div id="children" class = "title_row"><%= render partial: 'search', locals: {children: @children } %></div>
  <% end %> 
<% end %>
