<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "eg. \"2020jsmith@dwight.edu\"" %>
  </div>

  <div class="field">
    <%= f.label :campus %><br />
    <%= f.text_field :campus, class: "form-control", placeholder: "\"ECD\" or \"DWT\"" %>
  </div>


  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Enter a password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder: "Type the same password again" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-success md-btn log-in-btn"%>
  </div>
<% end %>

