<%= render partial: 'header'%>

<table class ="table"> 
<tr>
  <th><h3> ECD Teachers </h3></th>
  <th> <%=Menu.lunch_name_on(0, @date, 3)%> </th>
  <th><%=Menu.lunch_name_on(1, @date, 3)%></th>
  <th><%=Menu.lunch_name_on(2, @date, 3)%></th>
  <th> <%=Menu.lunch_name_on(3, @date, 3)%> </th>
  <th><%=Menu.lunch_name_on(4, @date, 3)%></th>
  <th><%=Menu.lunch_name_on(5, @date, 3)%></th>
  <th>TOTAL</th>
</tr>
<tr>
  <td>threes</td> <!-- Faculty teaching the 3 year olds  -->
  <td><%= LunchChoice.ecd_faculty(0, @date, "faculty", 'threes')%></td>
  <td><%= LunchChoice.ecd_faculty(1, @date, "faculty", 'threes')%></td>
  <td><%= LunchChoice.ecd_faculty(2, @date, "faculty", 'threes')%></td>
  <td><%= LunchChoice.ecd_faculty(3, @date, "faculty", 'threes')%></td>
  <td><%= LunchChoice.ecd_faculty(4, @date, "faculty", 'threes')%></td>
  <td><%= LunchChoice.ecd_faculty(5, @date, "faculty", 'threes')%></td>
</tr>
<tr>
  <td>fours</td> <!-- etc -->
  <td><%= LunchChoice.ecd_faculty(0, @date, "faculty", 'fours')%></td>
  <td><%= LunchChoice.ecd_faculty(1, @date, "faculty", 'fours')%></td>
  <td><%= LunchChoice.ecd_faculty(2, @date, "faculty", 'fours')%></td>
  <td><%= LunchChoice.ecd_faculty(3, @date, "faculty", 'fours')%></td>
  <td><%= LunchChoice.ecd_faculty(4, @date, "faculty", 'fours')%></td>
  <td><%= LunchChoice.ecd_faculty(5, @date, "faculty", 'fours')%></td>
</tr>
<tr>  
  <td>K</td> 
  <td><%= LunchChoice.ecd_faculty(0, @date, "faculty", 'k')%></td>
  <td><%= LunchChoice.ecd_faculty(1, @date, "faculty", 'k')%></td>
  <td><%= LunchChoice.ecd_faculty(2, @date, "faculty", 'k')%></td>
  <td><%= LunchChoice.ecd_faculty(3, @date, "faculty", 'k')%></td>
  <td><%= LunchChoice.ecd_faculty(4, @date, "faculty", 'k')%></td>
  <td><%= LunchChoice.ecd_faculty(5, @date, "faculty", 'k')%></td>
</tr>
<tr>
<td>TOTALS</td> 
  <td><%= LunchChoice.ecd_faculty_column_totals(0, @date, Child::ECD_GRADES)%></td>
  <td><%= LunchChoice.ecd_faculty_column_totals(1, @date, Child::ECD_GRADES)%></td>
  <td><%= LunchChoice.ecd_faculty_column_totals(2, @date, Child::ECD_GRADES)%></td>
  <td><%= LunchChoice.ecd_faculty_column_totals(3, @date, Child::ECD_GRADES)%></td>
  <td><%= LunchChoice.ecd_faculty_column_totals(4, @date, Child::ECD_GRADES)%></td>
  <td><%= LunchChoice.ecd_faculty_column_totals(5, @date, Child::ECD_GRADES)%></td> 
  <td><%= LunchChoice.ecd_faculty_RH_sum(@date, Child::ECD_GRADES)%></td>
</tr>