
<%= render partial: 'header'%>

<table class ="table"> 
<tr>
  <th><h3> ECD Students </h3></th>
  <th> <%=Menu.lunch_name_on(0, @date, 4)%> </th>
  <th><%=Menu.lunch_name_on(1, @date, 4)%></th>
  <th><%=Menu.lunch_name_on(2, @date, 4)%></th>
  <th>TOTAL</th>
</tr>
<tr>
  <td>3s </td>
  <td><%= LunchChoice.ecd_faculty(0, @date)%></td>
  <td><%= LunchChoice.ecd_faculty(1, @date)%></td>
  <td><%= LunchChoice.ecd_faculty(2, @date)%></td>
</tr>
<tr>
  <td>4s </td>
  <td><%= LunchChoice.dwt_faculty(0, @date)%></td>
  <td><%= LunchChoice.dwt_faculty(1, @date)%></td>
  <td><%= LunchChoice.dwt_faculty(2, @date)%></td>
</tr>
<tr>
  <td>K </td>
  <td><%= LunchChoice.dwt_faculty(0, @date)%></td>
  <td><%= LunchChoice.dwt_faculty(1, @date)%></td>
  <td><%= LunchChoice.dwt_faculty(2, @date)%></td>
</tr>
<tr>
  <td>TOTAL </td>
  <td><%= LunchChoice.all_faculty_count_by_date_and_grade(0, @date, nil)%></td>
  <td><%= LunchChoice.all_faculty_count_by_date_and_grade(1, @date, nil)%></td>
  <td><%= LunchChoice.all_faculty_count_by_date_and_grade(2, @date, nil)%></td>
  <td><%= LunchChoice.faculty_lunch_RH_sum(@date)%></td>
</tr>
</table>