
<%= render partial: 'summaries/page_partials/header'%>

<table class ="table"> 
    
  <%= render partial: 'summaries/line_partials/lunch_name_on', 
  locals: {
    title: "Adult Lunches",
    date: @date,
    menu_id: 3,
    lunches: Menu.find(3).lunches.by_day(@date).count }%>


  <%= render partial: 'summaries/line_partials/count_by_date_and_grade_row', 
  locals: {
    title:"ECD Staff",
    date: @date, 
    menu_id: 3, 
    role: "staff", 
    decision: "exclude_ecd_teachers", 
    grade: nil,
    lunches: Menu.find(3).lunches.by_day(@date).count}%>


  <%= render partial: 'summaries/line_partials/count_by_date_and_grade_row', 
  locals: {
    title:"DWT Faculty", #Here, this includes staff as well! On purpose.
    date: @date, 
    menu_id: 1, 
    role: ["faculty", "staff"], 
    grade: nil, 
    decision: nil,
    lunches: Menu.find(3).lunches.by_day(@date).count}%>

  <%= render partial: 'summaries/line_partials/all_faculty_count_by_date_and_grade', 
  locals: {
    title:"TOTAL", 
    date: @date, 
    decision: "exclude_ecd_teachers", 
    grade: nil,
    lunches: Menu.find(3).lunches.by_day(@date).count}%>


</table>

<%= render partial: 'summaries/page_partials/footer'%>