
<%= render partial: 'summaries/page_partials/header'%>

<table class ="table"> 
    
  <%= render partial: 'summaries/line_partials/lunch_name_on', 
  locals: {
    title: "Adult Lunches",
    date: @date,
    menu_id: 1,
    lunches: 9 }%>


  <%= render partial: 'summaries/line_partials/count_by_date_and_grade_row', 
  locals: {
    title:"ECD Staff",
    date: @date, 
    menu_id: 3, 
    role: "staff", 
    decision: "exclude_ecd_teachers", 
    grade: nil,
    lunches: 9}%>

  <%= render partial: 'summaries/line_partials/count_by_date_and_grade_row', 
  locals: {
    title:"DWT Faculty and Staff", 
    date: @date, 
    menu_id: 1, 
    role: ["faculty", "staff"], 
    grade: nil, 
    decision: nil,
    lunches: 9}%>

  <%= render partial: 'summaries/line_partials/all_faculty_count_by_date_and_grade', 
  locals: {
    title:"TOTAL", 
    date: @date, 
    decision: "exclude_ecd_teachers", 
    grade: nil,
    lunches: 9}%>


</table>