
<%= render partial: 'summaries/page_partials/header'%>

<table class ="table"> 
<tr>
  <th><h3> GRADE </h3></th>
  <th><%=Menu.lunch_name_on(0, @date, 2)%> </th>
  <th><%=Menu.lunch_name_on(1, @date, 2)%> </th>
  <th><%=Menu.lunch_name_on(2, @date, 2)%> </th>
  <th><%=Menu.lunch_name_on(3, @date, 2)%> </th>
  <th><%=Menu.lunch_name_on(4, @date, 2)%> </th>
  <th><%=Menu.lunch_name_on(5, @date, 2)%> </th>
  <th>TOTAL</th>
</tr>
<tr>
  <td>1 </td>
  <td><%= LunchChoice.count_by_date_and_grade(0, @date, 2, 1)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(1, @date, 2, 1)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(2, @date, 2, 1)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(3, @date, 2, 1)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(4, @date, 2, 1)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(5, @date, 2, 1)%></td>
</tr>
<tr>
  <td>2 </td>
  <td><%= LunchChoice.count_by_date_and_grade(0, @date, 2, 2)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(1, @date, 2, 2)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(2, @date, 2, 2)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(3, @date, 2, 2)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(4, @date, 2, 2)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(5, @date, 2, 2)%></td>
</tr>
<tr>
  <td>3 </td>
  <td><%= LunchChoice.count_by_date_and_grade(0, @date, 2, 3)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(1, @date, 2, 3)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(2, @date, 2, 3)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(3, @date, 2, 3)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(4, @date, 2, 3)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(5, @date, 2, 3)%></td>
</tr>
<tr>
  <td>4 </td>
  <td><%= LunchChoice.count_by_date_and_grade(0, @date, 2, 4)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(1, @date, 2, 4)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(2, @date, 2, 4)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(3, @date, 2, 4)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(4, @date, 2, 4)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(5, @date, 2, 4)%></td>
</tr>
<tr>
  <td>5 </td>
  <td><%= LunchChoice.count_by_date_and_grade(0, @date, 2, 5)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(1, @date, 2, 5)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(2, @date, 2, 5)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(3, @date, 2, 5)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(4, @date, 2, 5)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(5, @date, 2, 5)%></td>
</tr>
<tr>
  <td>6 </td>
  <td><%= LunchChoice.count_by_date_and_grade(0, @date, 2, 6)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(1, @date, 2, 6)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(2, @date, 2, 6)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(3, @date, 2, 6)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(4, @date, 2, 6)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(5, @date, 2, 6)%></td>
</tr>
<tr>
  <td>7 </td>
  <td><%= LunchChoice.count_by_date_and_grade(0, @date, 2, 7)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(1, @date, 2, 7)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(2, @date, 2, 7)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(3, @date, 2, 7)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(4, @date, 2, 7)%></td>
  <td><%= LunchChoice.count_by_date_and_grade(5, @date, 2, 7)%></td>
</tr>
<tr>
  <td>TOTAL </td>
  <td><%= LunchChoice.student_column_totals(0, @date, 2, Child::DWT_GRADES)%></td>
  <td><%= LunchChoice.student_column_totals(1, @date, 2, Child::DWT_GRADES)%></td>
  <td><%= LunchChoice.student_column_totals(2, @date, 2, Child::DWT_GRADES)%></td>
  <td><%= LunchChoice.student_column_totals(3, @date, 2, Child::DWT_GRADES)%></td>
  <td><%= LunchChoice.student_column_totals(4, @date, 2, Child::DWT_GRADES)%></td>
  <td><%= LunchChoice.student_column_totals(5, @date, 2, Child::DWT_GRADES)%></td>
  <td><%= LunchChoice.student_RH_sum(@date, 2, Child::DWT_GRADES, 6)%></td> 
</tr>
</table>