
<%= render partial: 'summaries/page_partials/header'%>

<table class ="table"> 
  

  <%= render partial: 'summaries/line_partials/lunch_name_on', 
  locals: {
    title: "GRADE",
    date: @date,
    menu_id: 2, 
    lunches: 12 }%>
  
  <% grade = 1 %> 
  <% 7.times do %>
    <%= render partial: 'summaries/line_partials/count_by_date_and_grade_row', 
    locals: {
      title:"Grade #{grade}",
      date: @date, 
      menu_id: 2, 
      role: "students", 
      grade: grade, 
      lunches: 12}%>
    <% grade += 1 %> 
  <%end %> 
  
  <%= render partial: 'summaries/line_partials/column_totals', 
  locals: {
    title: "TOTAL",
    date: @date,
    menu_id: 2,
    grade_range: Child::DWT_GRADES,
    role:"students",  
    number_of_columns: 12 }%>
 
</table>

<%= render partial: 'summaries/page_partials/footer'%>