<%= render partial: 'summaries/page_partials/header'%>

<table class ="table">


  <%= render partial: 'summaries/line_partials/lunch_name_on', 
  locals: {
    title: "DWT Students and Teachers list",
    date: @date,
    menu_id: 1, 
    lunches: 12, 
    grades_listed: true }%>

<%Child::DWT_GRADES.each do |grade|%>
  <%Child.by_grade(grade).each do |child| %> 
    <!-- Render the partial for each child in the grade.  -->
    <%= render partial: 'summaries/line_partials/lunch_choices_row', locals: {user: child, date: @date, lunches: 12}%>  
  <% end %> 
  <%User.by_grade(grade).each do |user| %>
    <%= render partial: 'summaries/line_partials/lunch_choices_row', locals: {user: user, date: @date, lunches: 12}%> 
  <% end %> 
  <!-- Render the student totals partial for the grade. -->
  <%= render partial: 'summaries/line_partials/totals_row', locals: {grade: grade, role: "students", date: @date}%>  
  <!-- Render the teacher totals partial for the grade. -->
  <%= render partial: 'summaries/line_partials/totals_row', locals: {grade: grade, role: "faculty", date: @date}%>  
  <!-- Render the grand totals partial for the grade.  -->
  <%= render partial: 'summaries/line_partials/totals_row', locals: {grade: grade, role: "grand", date: @date}%>  
<% end  %>
<%= render partial: 'summaries/line_partials/totals_row', locals: {grade: %w[1 2 3 4], role: "students", date: @date}%>
<%= render partial: 'summaries/line_partials/totals_row', locals: {grade: %w[5 6 7], role: "students", date: @date}%>
<%= render partial: 'summaries/line_partials/totals_row', locals: {grade: Child::DWT_GRADES, role: "faculty", date: @date}%>
<%= render partial: 'summaries/line_partials/totals_row', locals: {grade: Child::DWT_GRADES, role: "grand", date: @date}%>
</table>

<%= render partial: 'summaries/page_partials/footer'%>