<%= render partial: 'summaries/page_partials/header'%>

<table class ="table"> 
<tr>
  <th><h3> ECD Student list</h3>           </th>
  <th> Grade                               </th>
  <th><%=Menu.lunch_name_on(0, @date, 2)%> </th>
  <th><%=Menu.lunch_name_on(1, @date, 2)%> </th>
  <th><%=Menu.lunch_name_on(2, @date, 2)%> </th>
  <th><%=Menu.lunch_name_on(3, @date, 2)%> </th>
  <th><%=Menu.lunch_name_on(4, @date, 2)%> </th>
  <th><%=Menu.lunch_name_on(5, @date, 2)%> </th>
</tr>

<%Child::ECD_GRADES.each do |grade|%>
  <%Child.by_grade(grade).each do |child| %>
    <%= render partial: 'summaries/line_partials/lunch_choices_row', locals: {user: child, date: @date}%> 
  <% end %>
<% end  %>
<%= render partial: 'summaries/line_partials/totals_row', locals: {grade: Child::ECD_GRADES, role: "students", date: @date}%>
</table>