<%= render partial: 'summaries/page_partials/header'%>

<table class ="table"> 

  <%= render partial: 'summaries/line_partials/lunch_name_on', 
  locals: {
    title: "ECD Students",
    date: @date,
    menu_id: 4, 
    lunches: Menu.find(4).lunches.by_day(@date).count }%>


  <% index = 0 %> 
  <% 3.times do %>
    <%= render partial: 'summaries/line_partials/count_by_date_and_grade_row', 
    locals: {
      title:Child::ECD_GRADES[index],
      date: @date, 
      menu_id: 4, 
      role: "students", 
      grade: Child::ECD_GRADES[index], 
      lunches: Menu.find(4).lunches.by_day(@date).count}%>
    <% index += 1 %> 
  <%end %> 

  <%= render partial: 'summaries/line_partials/column_totals', 
  locals: {
    title: "TOTAL",
    date: @date,
    menu_id: 4,
    grade_range: Child::ECD_GRADES,
    role:"students",  
    number_of_columns: Menu.find(4).lunches.by_day(@date).count }%>
</table>


<%= render partial: 'summaries/page_partials/footer'%>