<%= render partial: 'summaries/page_partials/header'%>

<table class ="table"> 

  <%= render partial: 'summaries/line_partials/lunch_name_on', 
  locals: {
    title: "ECD Student list",
    date: @date,
    menu_id: 4, 
    lunches: Menu.find(4).lunches.by_day(@date).count }%>

<%Child::ECD_GRADES.each do |grade|%>
  <%Child.by_grade(grade).each do |child| %>
    <%= render partial: 'summaries/line_partials/lunch_choices_row', locals: {user: child, date: @date}%> 
  <% end %>
<% end  %>
<%= render partial: 'summaries/line_partials/totals_row', locals: {grade: Child::ECD_GRADES, role: "students", date: @date}%>
</table>


<%= render partial: 'summaries/page_partials/footer'%>