<%= render partial: 'summaries/page_partials/header'%>

<table class ="table"> 

  <%= render partial: 'summaries/line_partials/lunch_name_on', 
  locals: {
    title: "ECD Teachers",
    date: @date,
    menu_id: 3, 
    lunches: Menu.find(3).lunches.by_day(@date).count }%>

  <% index = 0 %> 
  <% 3.times do %>
    <%= render partial: 'summaries/line_partials/count_by_date_and_grade_row', 
    locals: {
      title: Child::ECD_GRADES[index],
      date: @date, 
      menu_id: 3, 
      role: "faculty", 
      grade: Child::ECD_GRADES[index]}%>
    <% index += 1 %> 
  <%end %> 

  <%= render partial: 'summaries/line_partials/column_totals', 
    locals: {
      title:"TOTALS",
      date: @date, 
      menu_id: 3, 
      role: "faculty", 
      grade_range: Child::ECD_GRADES,
      number_of_columns: Menu.find(3).lunches.by_day(@date).count }%>
</table>

<%= render partial: 'summaries/page_partials/footer'%>