<%= render partial: 'summaries/page_partials/header'%>

  <table class ="table"> 
   <%= render partial: 'summaries/line_partials/lunch_name_on', 
  locals: {
    title: @date,
    date: @date,
    menu_id: 2, 
    lunches: 12 }%>

   <%= render partial: 'summaries/line_partials/totals', 
  locals: {
    title: "ECD Students",
    number_of_columns: 12,
    date: @date,
    menu_id: 4,
    grade_range: Child::ECD_GRADES,
    role: "students"  }%>

  <%= render partial: 'summaries/line_partials/totals', 
  locals: {
    title: "DWT 1-4",
    number_of_columns: 12,
    date: @date,
    menu_id: 2,
    grade_range: [1,2,3,4],
    role: "students"  }%>

  <%= render partial: 'summaries/line_partials/totals', 
  locals: {
    title: "DWT 5-7",
    number_of_columns: 12,
    date: @date,
    menu_id: 2,
    grade_range: [5,6,7],
    role: "students"  }%>

  <%= render partial: 'summaries/line_partials/totals', 
  locals: {
    title: "DWT/ECD Fac",
    number_of_columns: 12,
    date: @date,
    menu_id: [1,3],
    grade_range: nil,
    role: "faculty" }%>

  <%= render partial: 'summaries/line_partials/totals', 
  locals: {
    title: "ECD sp. deliv",
    number_of_columns: 12,
    date: @date,
    menu_id: 3,
    grade_range: Child::ECD_GRADES,
    role: "faculty" }%>

 
  <%= render partial: 'summaries/line_partials/totals', 
  locals: {
    title: "DWT sp. deliv",
    number_of_columns: 12,
    date: @date,
    menu_id: 1,
    grade_range: Child::DWT_GRADES,
    role: "faculty" }%>

   <%= render partial: 'summaries/line_partials/lunch_name_on', 
  locals: {
    title: "Portion Totals",
    date: @date,
    menu_id: 2, 
    lunches: 12 }%>

  <%= render partial: 'summaries/line_partials/totals', 
  locals: {
    title: "ECD Students",
    number_of_columns: 12,
    date: @date,
    menu_id: 4,
    grade_range: Child::ECD_GRADES,
    role: "students" }%>

   <%= render partial: 'summaries/line_partials/totals', 
  locals: {
    title: "1st - 4th",
    number_of_columns: 12,
    date: @date,
    menu_id: 2,
    grade_range: [1,2,3,4],
    role: "students" }%>

  <%= render partial: 'summaries/line_partials/big_lunch_totals', 
  locals: {
    title: "5th-adult",
    number_of_columns: 12,
    date: @date }%>

  <%= render partial: 'summaries/line_partials/agnostic_column_totals', 
  locals: {
    title: "TOTALS",
    number_of_columns: 12,
    date: @date }%>
  </table> 

<%= render partial: 'summaries/page_partials/footer'%>