<div class="col-sm-12 col-md-12 container">
  <div class="menu_edit_btns text-center">
    <h1> Edit All Menus </h1>
  <%= link_to "Delete All Lunches", menu_delete_all_lunches_path(@menu.id), class: "btn btn-success admin_btn", method: :post%>
  <%= link_to "Populate Menus With Blank Lunches", menu_populate_with_blanks_path(@menu.id), class: "btn btn-success admin_btn", method: :post%>

 <!--  rather than menu_delete_all_lunches_path, use the menu_edit_path(params={menu_id: @menu_id, delete_all: true}) or something-->
  </div>
  <div class="col-md-12">
  <%= "Menu ID: #{@menu.id} "%>
  <div class="center_column">
  <% unless @dates.include? nil %> 
    <% @dates.each do |date| %> 
    <div class="row title_row text-center"> 
      <div class="col-sm-12 date_box text-center">
        <h4><%="#{weekday_on(date)}"%></h4> 
        <h6><%= date %> </h6>
      </div>
    </div>
    <div class="row lunch_row text-center date_id_<%=date.to_s%>">
      <% if Menu.lunch_by_date(5, date, @menu.id, type = "lunch") %> 
        <% @menu.lunches.by_day(date).by_type("lunch")[0..4].each do |lunch|  %>
          <%= render partial: 'lunch_choices/edit_lunch_ch_row', locals: { lunch: lunch, user: @user } %> 
        <% end %>
      <% end %> 
    </div> 
    <div class="row lunch_row text-center date_id_<%=date.to_s%>">
      <% if Menu.lunch_by_date(6, date, @menu.id, type = "lunch") %> 
        <% @menu.lunches.by_day(date).by_type("lunch")[5..9].each do |lunch|  %>
          <%= render partial: 'lunch_choices/edit_lunch_ch_row', locals: { lunch: lunch, user: @user } %> 
        <% end %>
      <% end %> 
    </div> 
    <div class="row lunch_row text-center date_id_<%=date.to_s%>">
      <% if Menu.lunch_by_date(1, date, @menu.id, type = "drink") %> 
        <% @menu.lunches.by_day(date).by_type("drink").all.each do |lunch|  %>
          <%= render partial: 'lunch_choices/edit_lunch_ch_row', locals: { lunch: lunch, user: @user } %> 
        <% end %>
      <% end %> 
    </div>
  <br>
  <hr>
    <% end %>
  <% end %> 
</div>
</div>

<!-- Adding or editing things in menu.lunches collection.  -->