<div class="col-md-12 container">
  <%= "Menu ID: #{@menu.id} "%>
  <div class="container center_column">
  <% unless @dates.include? nil %> 
    <% @dates.each do |date| %> 
    <div class="row text-center"> 
      <div class="col-sm-12 date_box text-center">
        <h4><%="#{weekday_on(date)}"%></h4> 
        <h6><%= date %> </h6>
      </div>
    </div>
    <div class="row lunch_row text-center date_id_<%=date.to_s%>">
      <% @menu.lunches_for_day(date).each do |lunch| %>
        <%= render partial: 'lunch_choices/lunch_ch_row', locals: { lunch: lunch, user: @user } %> 
      <% end %>
    </div>
  <br>
  <hr>
    <% end %>
  <% end %> 
</div>
</div>