<div class="col-md-12">
  <%= "Menu ID: #{@menu.id} "%>
  <% if @user != current_user %> 
    <p class = "fixed_name text-center float_left big_note"> <%= "Menu for #{@user.first_name} #{@user.last_name}"%></p>
    <p class = "fixed_name text-center float_right small_note"> 
      <%= "#{@user.lunch_choices.count} / #{Menu.find(@user.menu_id).lunch_date_list.count}" unless current_user.admin?%></p>
  <% end %>
  <div class="center_column">
  <% unless @dates.include? nil %> 
    <% @dates.each do |date| %> 
    <div class="row title_row text-center"> 
      <div class="col-sm-12 date_box text-center">
        <h1><%="#{weekday_on(date)}"%></h1> 
        <h6><%= date %> </h6>
      </div>
    </div>
    <% lunch_count = @menu.lunches.by_day(date).by_type("lunch").count %> 
    <div class="row lunch_row text-center date_id_<%=date.to_s%>">
      <% @menu.lunches.by_day(date).by_type("lunch")[0..(lunch_count/2).to_i].each do |lunch|  %>
        <%= render partial: 'lunch_choices/lunch_ch_row', locals: { lunch: lunch, user: @user } %> 
      <% end %>
    </div> 
    <div class="row lunch_row text-center date_id_<%=date.to_s%>">
      <div class="lunch_row_center"> 
      <% @menu.lunches.by_day(date).by_type("lunch")[((lunch_count/2).to_i + 1)..lunch_count].each do |lunch|  %>
        <%= render partial: 'lunch_choices/lunch_ch_row', locals: { lunch: lunch, user: @user } %> 
      <% end %>
    </div> 
    </div> 
    <div class="row lunch_row text-center date_id_<%=date.to_s%>">
      <div class="drink_row_center"> 
      <% @menu.lunches.by_day(date).by_type("drink").each do |lunch|  %>
        <%= render partial: 'lunch_choices/lunch_ch_row', locals: { lunch: lunch, user: @user } %> 
      <% end %>
    </div>
    </div>
  <br>
  <hr>
    <% end %>
  <% end %> 
</div>
</div>