<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>


<table class = "table"> 
    <tr>
    <th><%= sortable "first_name", "first_name" %></th>
    <th><%= sortable "last_name", "last_name" %></th>
    <th>Lunches selected</th>
    <th><%= sortable "grade", "grade" %></th>
    <th><%= sortable "email", "email"%></th>
    <th><%= sortable "campus", "campus" %></th>
    <th><%= sortable "role", "role" %></th>
    <th><%= sortable "menu_id", "menu_id" %></th>
    
  </tr>
    <% users.each do |user| %> 
      <tr> 
      <td> <%= user.first_name%></td> 
      <td> <%= user.last_name%> </td> 
      <% if user.menu_id %> 
        <td> <%= "#{user.lunch_choices.count} / #{Menu.find(user.menu_id).lunch_date_list.count}" unless(user.parent? || user.admin?)%></td> 
      <% elsif (user.parent? || user.admin?) %> 
        <td> </td> 
      <% else  %> 
        <td> PENDING </td> 
      <% end %> 
      <td> <%=user.grade %> </td> 
      <td> <%=user.email %> </td> 
      <td> <%=user.campus %> </td> 
      <td> <%=user.role %> </td>
      <td> <%=user.menu_id %> </td>
      <td> <%if user.menu_id != nil%><%= link_to "Menu", menu_path(user, user.menu_id), class:"btn btn-success btn-sm"%> <%end%></td>
      <td> <%= link_to "Edit", edit_user_path(user), class:"btn btn-warning btn-sm"%></td>
      <td> <%= link_to "Remove", user_path(user), method: :delete, class:"btn btn-danger btn-sm"%></td>
      </tr> 
    <% end %>
</table>