<div class="col-md-8">
 <%= form_for [lunch] do |f| %><!--   , remote: true -->
   <div class="form-group">
     <%= f.label :name %>
     <%= f.text_field :name, class: 'form-control' %>
   </div>
    <div class="form-group">
      <%= f.label "Smart Choice" %> <br />
      <%= f.check_box :smart %> <br />
    </div>
    <div class="form-group">
      <%= f.label "Vegetarian" %> <br />
      <%= f.check_box :vegetarian %> <br />
    </div>
    <div class="form-group">
      <%= f.label "Type" %> <br />
      <%= f.text_field :lunch_type, placeholder: "eg. \"drink\" or \"lunch\"", class:'form-control' %> <br />
    </div>

   <div class="form-group">
     <%= f.submit "Save", class: 'btn btn-success' %>
   </div>
 <% end %>
</div>