<%= stylesheet_link_tag params[:controller] %>


<% if flash[:notice] %>
  <p class="alert"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
<% end %>

<div class="container">

<div class="background_image">
  <div class="container text-center">
    <div class ="square">
      <div class="title-top white_box">
        <h1> Dwight Lunchbox </h1> 
      </div>

        <div class= "form col-sm-6 text-center sign-up-box"> 
          <%= render partial: 'devise/registrations/register', locals: {user: current_user } %> 

        </div> 
        <div class= "form col-sm-6 text-center sign-in-box"> 
          <%= render partial: 'devise/sessions/signin', locals: {user: current_user } %> 
        </div> 
      </div> 
    </div>
  </div>
</div>