<%= stylesheet_link_tag params[:controller] %>
<%= javascript_include_tag params[:controller] %>
<link rel="shortcut icon" href="https://www.dwight.edu/favicon.ico" /> 
<% if flash[:notice] %>
  
   <div class="alert alert-success">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
     <%= flash[:notice] %>
   </div>
  <% elsif flash[:error] %>
   <div class="alert alert-danger">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
     <%= flash[:error] %>
   </div>
  <% elsif flash[:alert] %>
   <div class="alert alert-warning">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
     <%= flash[:alert] %>
   </div>

<% end %>

<div class="container background_image">
  <div class="container text-center">
    <div class ="square">
      <div class="title-top white_box">
        <div id="upper_logo">
        <h1> <span>The </span>Dwight</h1>
        </div></br>
        <div id="lower_logo">
          <h1> Lunch<span>box</span> </h1> 
        </div>
      </div>

      <div class= "form col-sm-6 text-center sign-up-box"> 
        <%= render partial: 'devise/registrations/register', locals: {user: current_user } %> 

      </div> 
      <div class= "form col-sm-6 text-center sign-in-box"> 
        <%= render partial: 'devise/sessions/signin', locals: {user: current_user } %> 
      </div> 
    </div> 
  </div>
</div>